    {% extends 'base1.html.twig' %}

{% block body %}
 <div class="container-fluid">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title </th
            <th scope="col">Vote Average </th>
      <th scope="col">Release Date</th>
      <th scope="col">Add to favorites</th>
    </tr>
  </thead>

  <tbody>

  {% for o in objj.results %}
    <tr>
      <td>{{ o.id}}</td>
      <td>{{ o.title}}</td>
            <td>{{ o.vote_average}}</td>


      <td>{{ o.release_date}}</td>
      <td>    <a href="{{ path('movies_new') }}"> <button type="button" class="btn btn-primary"> Add to Favorites</button>


      </a>
</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
      </div>

    {% endblock %}